<style>
        /* Para celulares: */
        [class*="col-"] {
            width: 100%;
        }

        @media only screen and (min-width: 700px) {

            /* Para tablets: */
            .col-s-1 {
                width: 8.33%;
            }

            .col-s-2 {
                width: 16.66%;
            }

            .col-s-3 {
                width: 25%;
            }

            .col-s-4 {
                width: 33.33%;
            }

            .col-s-5 {
                width: 41.66%;
            }

            .col-s-6 {
                width: 50%;
            }

            .col-s-7 {
                width: 58.33%;
            }

            .col-s-8 {
                width: 66.66%;
            }

            .col-s-9 {
                width: 75%;
            }

            .col-s-10 {
                width: 83.33%;
            }

            .col-s-11 {
                width: 91.66%;
            }

            .col-s-12 {
                width: 100%;
            }
        }

        @media only screen and (min-width: 815px) {

            /* Para escritorio: */
            .col-1 {
                width: 8.33%;
            }

            .col-2 {
                width: 16.66%;
            }

            .col-3 {
                width: 25%;
                min-width: 210px;
                max-width: 300px;
            }

            .col-4 {
                width: 33.33%;
            }

            .col-5 {
                width: 41.66%;
            }

            .col-6 {
                width: 50%;
            }

            .col-7 {
                width: 58.33%;
            }

            .col-8 {
                width: 66.66%;
            }

            .col-9 {
                width: 75%;
            }

            .col-10 {
                width: 83.33%;
            }

            .col-11 {
                width: 91.66%;
            }

            .col-12 {
                width: 100%;
            }
        }

        body {
            font-family: 'Montserrat', sans-serif;
            color: #111;
            background-color: #f3f3f3;
            text-align: center;
            margin: 0px;
        }

        div.container {
            width: 100%;
            border: 0px solid black;
            text-align: center;
            margin: 10px;
        }

        .myDiv {

            background-color: lightblue;
            text-align: left;
            margin: 2%;
            padding: 2%;
            /* max-width: 250px; */
            display: inline-block;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
        }


        .myDiv2 {
            border: 0px outset rgb(26, 39, 101);
            text-align: left;
            margin: 3%;
            background-color: #ffffff;
        }

        .myDiv7 {
            border: 0px outset rgb(26, 39, 101);
            text-align: left;
            margin: 3%;
            background-color: #ffffff;
            column-count: auto;
            column-width: 230px;
        }

        .myDiv3 {
            border: 0px outset rgb(26, 39, 101);
            text-align: center;
            margin-left: 3%;
            margin-right: 3%;
            padding-left: 5%;
            padding-right: 5%;
            background-color: #ffffff;
        }

        .myDiv4 {
            display: inline-block;
            padding: 0%;
            margin: 10px;
            /* max-width: 300px; */
            /* min-width: 210px; */
            /* inline-flex; */
            border: 0px outset rgb(42, 98, 14);
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff;
        }

        .myDiv5 {
            display: inline-block;
            padding: 0%;
            margin: 10px;
             width: 100%;
            /* min-width: 500px;
            /* inline-flex; */
            border: 0px outset rgb(42, 98, 14);
            text-align: left;
            vertical-align: top;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff;
        }

        .myDiv6 {
            display: inline-block;
            padding: 0%;
            /* inline-flex; */
            border: 0px outset rgb(42, 98, 14);
            text-align: center;
            vertical-align: top;
        }

        div.sticky {
            position: sticky;
            top: 0;
            padding: 1px;
            margin: 0;
            background-color: #23274d;
            border: 0px solid #4CAF50;
            color: #ffffff;
            width: 100%;
        }

        div.divider {
            height: 1px;
            margin: 20px;
            overflow: hidden;
            background-color: #e0e0e0;
        }

        /* div.divOculto {
            display: none;
        } */


        p.comun,li {
            font-size: small;
        }

        p.t2 {
            font-size: 15px;
        }

        p.t3 {
            font-size: 8px;
        }

        p.t4 {
            font-size: medium;
        }

        span.t1 {
            font-size: 12px;
            font-weight: bold;
            color: rgb(36, 36, 114);
        }

        h1 {
            font-size: 150%;
        }


        h2 {
            font-size: medium;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .icono_tarjeta {
            margin-right: 2%;
            float: left;
            height: 1.4em;
            pointer-events: none;
        }

        span.desplegable {
            cursor: pointer;
            font-weight: bold;
            color: rgb(23, 71, 205);
            float: right;
        }

        li a {
            display: block;
            color: #ffffff;
            text-align: center;
            align-items: flex-start;
        }

        a:link {
            text-decoration: none;
            color: #ffffff
        }

        a:visited {
            color: #ffffff;
        }

        a:hover {
            color: #6dcefb;
        }
        
    </style>