@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	color: #555;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #ebebeb;
}

h1{
	text-align: center;
	color:  #888;
}

div.tarjeta_resumen{
	padding: 20px;
    border: 0px solid rgb(0, 0, 0);
    display: inline-flex;
    text-align: center;

    flex-direction: column;

}

div.resultado{
	/* background-color: #c0dde1; */
	padding: 20px;
	border: 0px solid rgb(0, 0, 0);

	text-align: center;

}

.conclusion{
	padding: 5px;
}

.conclusion p{
	border-bottom: thin dotted #d4d4d4;
	padding: 20px 10px 0px 0px;
	font-style: italic;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.conclusion .pos{
	color:green;

}

.conclusion .neg{
	color:#bc0808;

}

.conclusion p span{
	font-size: 16px;
	float:  right;
	cursor: pointer;
	display: inline-block;
}
.conclusion p span.mark{
	color: green;
	font-size: 30px;
	transform: translateY(-10px);
}

form{
	width:  100%;
	transition: visibility 0s, opacity 0.5s linear;
}

.field{
	margin-bottom: 10px;
	display: flex;
	
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.field input {

	width: 65%;
	font-size: 100%;
	color: #888;
	background-color: #f9f9f9;
	padding: 10px 20px;
	margin: 18px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.field input:focus{
	outline: none;
	border-color: #275EFE;
}

.field span{
	display: inline-block;
	margin: 20px;
	cursor: pointer;
	background-color: #f9f9f9;
	padding: 10px;
	font-size: 20px;
	transition: all 0.3s;
	font-weight: bold;
	border: thin solid #d4d4d4;
	text-align: center;
	vertical-align: middle; 
	border-radius: 4px;
}
.field span:last-child{
	display: none;
	padding: 12px;
}
.field span:hover{
	background-color: green;
	border: thin solid green;
	color: #fff;
}
.field span:last-child:hover{
	background-color: red;
	border: thin solid red;
	color: #fff;
}


button{
	display: block;
	padding: 10px 20px;
	margin-top: 30px;
	width:  150px;
	float: left;
	font-size: 16px;
	background-color: #5b8ebf;
	border: thin solid #d5e4d4;
	cursor: pointer;
	color: #fff;
}

button:active{
	background-color: #aedea6;
	color: #000;
}

.reset{
	float: right;
	background-color: green;
	border-radius: 4px;
}